.navbar{
    background: $secondary-color;
    padding: 15px;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        li{
            margin: 0 15px;
            a{
                color: $text-color;
                text-decoration: none;
                font-size: 1.2rem;
                transition: all .5s;
                padding: 10px;
                &:hover{
                    background-color: $primary-color;
                    color: $text-color;
                }
            }
        }
    }
}